.ant-notification
  &--success
    border-color rgba($lime, .5)
    background #f6fcf3

  &--info
    border-color rgba($blue, .5)
    background #f6f7fd

  &--warning
    border-color rgba($popcorn, .5)
    background #fffbf3

  &--error
    border-color rgba($red, .5)
    background #fef5f5
