base-width(width)
  margin 0 auto
  max-width width

:focus
  outline none
  text-decoration none !important

.line-list
  font-size 0

  > li
    display inline-block
    vertical-align top

@import '../icons'
@import 'variable'
@import '~basic-css/index'
@import './antd/*'
@import './component/*'
@import './special/*'
