import-less('../../../node_modules/ant-design-vue/lib/style/themes/default')
import-less('antd')
@import "basic-css"

$line-height = 20px
$border-color-base = #cbcbcb
$border-color-split = #e9e8e9
$blue = #556dd6
$lime = $success-color
$red = $error-color
$popcorn = $warning-color
$white-15 = rgba($white, .15)
$black-45 = rgba($black, .45)
