.nc-container.slide-verify-code

  .nc_scale
    border 1px solid $normal-color
    background #f5f5f5
    overflow visible

    .scale_text
      color $text-color

      &2
        color $primary-color

    .nc_bg
      top -1px
      box-sizing content-box
      padding 0 5px
      border 1px solid $primary-color
      border-radius $border-radius-base
      background #eef0fa
      transform translateX(-1px)
      -webkit-transform translateX(-1px)

    span
      top -1px
      height 34px
      line-height 34px
      border-color $normal-color
      border-radius $border-radius-base
      transform translateX(-1px)
      -webkit-transform translateX(-1px)

      &.btn_slide
        color $caption-color

        &:hover
          color $primary-color
          border-color $primary-color

    .btn_ok
      color $primary-color
      border-color $primary-color

  .errloading
    box-sizing border-box
    padding 6px
    width 330px
    color $caption-color
    border-color $warning-color
    background rgba($warning-color, .05)

    .icon_warn
      margin-right 6px
      font-size $font-size-base
      color $warning-color

    a
      color $primary-color
